* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
h4,
h5,
h6 {
  margin: 5px;
}
h6 {
  color: #666363;
}

.app {
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: rgb(245, 243, 250);
  box-shadow: 0px 1px 10px #e2d4f1;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
.header > .logo-container {
  width: 100px;
  height: 100px;
}
.header > ul {
  display: flex;
  gap: 50px;
}
.header > ul > li {
  list-style-type: none;
  letter-spacing: 0.5;
}
.res-body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content horizontally */
  padding: 0 100px;
}

.res-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Create flexible columns */
  gap: 10px; /* Adjust the gap between cards */
  margin-top: 70px;
  width: 100%; /* Ensure it takes up the full width */
  max-width: 100%; /* Ensure it doesn't exceed the viewport width */
}

.res-card {
  padding: 5px;
  width: 100%; /* Take up the full width of the column */
  transition: transform 0.3s ease;
}
.res-container > .res-card > .card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.res-container > .res-card:hover {
  transform: scale(90%);
  margin: auto;
  cursor: pointer;
}

.res-container > .res-card > .card-img-container > .overlay {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.041);
}
.res-container > .res-card > .card-img-container > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.res-container > .res-card > .card-description > .cuisines {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Display ellipsis for overflowed text */
}
.res-container > .res-card > .card-description > h6 {
  max-width: 100%;
  margin-right: 10px;
}
.res-container > .res-card > .card-description > .avg-rating {
  color: green !important;
}
.res-body > .filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.res-body > .filter > .search {
  display: flex;
  align-items: center;
}
.res-body > .filter > .search > .search-input {
  width: 300px;
  height: 30px;
  border-radius: 4px;
  padding: 0 10px;
  border: 1px solid rgb(212, 208, 208);
}
.res-body > .filter > .search > .search-input:focus {
  outline: none;
}
.res-body > .filter > .search > .search-btn {
  height: 30px;
  margin-left: 10px;
  background-color: transparent;
  border: 1px solid rgb(212, 208, 208);
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}
.res-body > .filter > .filter-btn {
  background-color: white;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.521);
  width: 200px;
  height: 30px;
  border: 1px solid rgb(245, 240, 240);
  border-radius: 5px;
  transition: box-shadow 0.2s ease;
}
.res-body > .filter > .filter-btn:hover {
  cursor: pointer;
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.521);
}

/* Shimmer effect for the card */
.shimmer {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 300px;
}

/* Shimmer effect for the image container */
.shimmer-img {
  position: relative;
  width: 100%;
  height: 75%;
  padding-bottom: 60%; /* Aspect ratio, adjust as needed */
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(167, 167, 167, 0.7) 25%,
    #dbdbdb 50%,
    rgba(167, 167, 167, 0.7) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

/* Shimmer effect for the text container */
.shimmer-text {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* Shimmer effect for text lines */
.shimmer-line {
  width: 100%;
  height: 16px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(167, 167, 167, 0.5) 25%,
    #eeeeee 50%,
    rgba(167, 167, 167, 0.5) 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

/* Animation for shimmer effect */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
